body {
  
    background-image: url("campo-futbol-verde_225004-1137.jpg");
       
  }
       h1 {
        text-align: center;
      }
       div {
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }